:root {

    --deep-blue: #012b3b;
    --light-blue: #25637c;
    --steel-gray: #728590;
    --brown-gray: #b2a289;
    --sand-beige: #ead7c6;
    --aside-grey: #25637c3c;
    
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--deep-blue);
    background-color: var(--sand-beige);
    line-height: 1.6;
   
}
nav {
    background: var(--deep-blue);
    padding: 1em;
    display: flex;
    justify-content: center;
    height: 30px;
}
nav a {
    color: var(--sand-beige);
    margin: 0 1em;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
    color: var(--brown-gray);
    
}
header {
    background: var(--light-blue);
    background-image: url("images/Aerial\ city.jpg");
    padding: 2em;
    height: 250px;
    background-position-y: 10%;
}
#header-container {
    display: inline-block;
    color: var(--sand-beige);
    text-shadow:
    0 0 5px var(--steel-gray),
    0 0 20px var(--brown-gray),
    0 0 10px rgb(7, 7, 19);
    font-size: 2em;
}


#content-container {
    display: flex;
}

main {
    flex: 0 1 75%;
    padding: 30px 20px;
    }
     
aside {

    flex: 0 1 25%;
    margin-top: 30px;
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 15px;
    font-style: italic;
    
    
}
aside div{
    background-color: var(--aside-grey);
    border-radius: 10px;
    padding: 15px 12px;
    max-width: fit-content;
}
aside th, aside td {
    padding: 10px;
    text-align: left;
    max-width: 100px;
}

.fun-fact {
    margin-top: 30px;
    background-color: #25637c19;
    border-left: 5px solid var(--light-blue);
    padding: 10px;
    border-radius: 10px;
  }
    
.list-design a {
    text-decoration: none;
    color: var(--light-blue);
    margin: 0 1em;
    text-decoration: none;
    font-weight: bold;
}
.list-design a:hover{
    color: var(--steel-gray);
    
}
section {
    padding-top: 5px;
    padding-bottom: 5px;
}


section img {
    padding-right: 5px;
    max-height: 100%;
    max-width: 100%;
}


